/* NAV BAR */
.navbar-default {
    background: transparent;
    border-color: transparent;
    min-height:32px !important;
}
.navbar-default .navbar-nav > li >a {
  color: #ddd;
  font-size: 11px;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 9px;
  padding-left: 9px;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: rgba(221, 221, 221, 0.75);
  color: #333;
}
.navbar-default .navbar-nav > li > a:hover {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a {
  color: #ddd;
}
.navbar-brand {
  padding-top: 4px;
  padding-left: 10px;
}
.navbar-brand img {
  max-width: 160px;
}

/* CAROUSEL */
#slide1 {
  background-image: url('../img/wood-2.jpg');
  min-height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#slide1 img {
  max-height: 55vh;
  padding-top: 15vh;
  padding-bottom: 4vh;
}
#slide2 {
  background-image: url('../img/restaurant-2.jpg');
  min-height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#slide2 .carousel-caption{
  padding-top: 20vh;
  padding-bottom: 18vh;
}
#slide2 h1 {
  font-size: 50px;
  text-shadow: 2px 2px 5px #444;
}
#slide2 p {
  font-size: 18px;
  text-shadow: 2px 2px 1px #000;
  padding-right: 30px;
  padding-left: 30px;
}
#slide2 button {
  border: 0;
  border-radius: 5px;
  background-color: #F15A25;
  color: white;
}
.but-con {
  padding-top: 20px;
  margin: 0;
  text-align: center;
}
#slide3 {
  background-image: url('../img/farm-2.jpg');
  min-height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#slide3 .carousel-caption{
  padding-top: 20vh;
  padding-bottom: 18vh;
}
#slide3 h1 {
  font-size: 50px;
  text-shadow: 2px 2px 5px #444;
}
#slide3 p {
  font-size: 18px;
  text-shadow: 2px 2px 1px #000;
  padding-right: 30px;
  padding-left: 30px;
}
#slide3 button {
  border: 0;
  border-radius: 5px;
  background-color: #F15A25;
  color: white;
}
/*OUR STORY SECTION*/
#story {
  padding: 5%;
}
.heading {
  font-size: 60px;
  font-family: 'Lobster', cursive;
  color: #F8512F;
  text-shadow: 2px 2px 5px #000;
}
#story h1 {
  text-align: left !important;
}
#story h3 {
  font-weight: 700;
  margin-top: 0;
}
#story p {
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
}
#year {
  z-index: -1;
  position: absolute;
  color: #e9e9e9;
  font-size: 180px;
  font-family: 'Playfair Display', serif;
  margin-top: -25px;
}

/* FOOD-REVIEW SECTION */
#food-review {
  background-image: url('../img/food_review.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 500px;
}
#food-review .food-background {
  background-color: rgba(0, 0, 0, 0.6);
  margin-top: 5%;
  padding: 3%;
}
#food-review h3 {
    color: white;
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
}

/* MENU SECTION */
.home-menu {
  padding: 3%;
  background-color: #fff;
}
.home-menu h1 {
  font-weight: 700;
  text-align: center;
  font-size: 16px;
}
.home-menu p {
  text-align: justify;
}
#menu {
  background-image: url('../img/black_linen.png');
}
#menu-con {
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 2%;
    padding-bottom: 5%;
}
#menu-h1 {
  color: #fff;
  font-size: 60px;
  font-family: 'Lobster', cursive;
  text-align: center;
}
#menu .tab-pane {
  background-color: #fff;
  padding: 2%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#menu a {
  color: #F8512F;
  text-transform: uppercase;
  font-size: 12px;
  padding-bottom: 5px;
  font-weight: 700;
}
/*CONTACT SECTION */
#contact {
  background-color: #F8512F;
  color: #fff;
  margin: auto;
}
#con-con {
  padding-left: 12%;
  padding-right: 12%;
  padding-top: 2%;
  padding-bottom: 2%;
}
#contact h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 42px;
  text-align: left;
}
#contact p {
  font-size: 12px;
}
#formaddressmap {
  padding-left: 12%;
  padding-right: 12%;
  padding-top: 2%;
  padding-bottom: 2%;
}
#addressmap {
  padding: 0;
  margin: 0;
  margin-left: 50px;
  padding-bottom: 50px;
  font-size: 11px;
  font-family: 'Raleway', serif;
}
#form {
  padding-left: 0;
  padding-right: 0;
}
.map {
  position: relative;
  padding-bottom: 25%; // This is the aspect ratio
  height: 0;
  max-width: 350px;
  overflow: hidden;
}
.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
/* MEDIA QUERIES */

@media screen and (max-width: 992px) {
  #formaddressmap {
    padding-left: 8%;
    padding-right: 8%;
  }
  #addressmap {
    margin-left: 50px;
  }
  #addressmap address {
    text-align: left;
  }
}

@media screen and (max-width: 769px) {
  #slide2 .carousel-caption {
    padding-top: 20vh;
    padding-bottom: 18vh;
  }
  #slide3 .carousel-caption {
    padding-top: 20vh;
    padding-bottom: 18vh;
  }
  #formaddressmap {
    padding-left: 8%;
    padding-right: 8%;
  }
  #addressmap {
    margin-left: 48px;
  }
  #addressmap address {
    text-align: center;
  }
  .map {
    padding-bottom: 65%;
  }
}

@media screen and (max-width: 575px){
  #rc-imageselect, .g-recaptcha {transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;
}

@media screen and (max-width: 480px){
  #slide2 h1 {
    font-size: 24px;
    text-shadow: 2px 2px 5px #444;
  }
  #slide2 p {
    font-size: 12px;
    text-shadow: 2px 2px 1px #000;
    padding-right: 30px;
    padding-left: 30px;
  }
  #slide2 .carousel-caption {
    padding-top: 20vh;
    padding-bottom: 20vh;
  }
  #slide3 h1 {
    font-size: 24px;
    text-shadow: 2px 2px 5px #444;
  }
  #slide3 p {
    font-size: 12px;
    text-shadow: 2px 2px 1px #000;
    padding-right: 30px;
    padding-left: 30px;
  }
  #slide3 .carousel-caption {
    padding-top: 20vh;
    padding-bottom: 20vh;
  }
  #year {
    font-size: 140px;
  }
  #contact h1 {
    font-size: 36px;
  }
  #formaddressmap {
    padding-left: 14%;
    padding-right: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  #addressmap {
    margin-left: 8%;
    margin-right: 10%;
  }
  #addressmap address {
    text-align: center;
    margin-top: -30px;
    margin-right: 20px;
  }
  .map {
    width: 240px;
  }
}

@media screen and (max-width: 320px){
  #slide1 img {
    max-height: 235px;
    padding-top: 64px;
    padding-bottom:17px;
  }
  #slide1, #slide2, #slide3 {
    min-height: 0;
    height: 300px;
  }
  #slide2 .carousel-caption, #slide3 .carousel-caption {
    padding-top: 86px;
    padding-bottom: 23px;
  }
  #formaddressmap {
    padding-left: 4%;
    padding-right: 12%;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  #addressmap {
    margin-left: auto;
    margin-right: auto;
    margin-top: -40px;
  }
  #con-con h1 {
    font-size: 32px;
  }
  #addressmap address {
    text-align: center;
    margin-right: 0;
  }
  .map {
    width: 270px;
  }
}
